.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
test/**
out/**
node_modules/**
!node_modules/js-tiktoken/lite.js
!node_modules/js-tiktoken/lite.d.ts
!node_modules/js-tiktoken/package.json
!node_modules/js-tiktoken/dist/lite.cjs
!node_modules/js-tiktoken/dist/chunk-*.js
!node_modules/js-tiktoken/dist/ranks/cl100k_base.cjs
tsconfig*.json
.gitignore
.eslintrc*
**/*.map
**/*.ts
.github/**
tmp/**
docs/**
examples/**
.venv/**
**/__pycache__/**
**/*.pyc
